* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 90%;   
    margin: 0 auto;
    padding: 20px 0;
}

.hero > h1 {
    margin: 0 auto;
    width: max-content;
}

.row > div{
    display: inline-block;
    width: 30%;
    margin: 20px 10px;
    padding: 30px 20px;

    background-color: #000;
    color: #fff;

    height: 250px;
    cursor: pointer;
}

.row > div:active {
    border: 2px solid #00f;
}