
body {
    background-color: #000;
}

h1 {
    color: red;
}

h2 {
    color: green;
}

p {
    text-align: justify;
    color: aqua;
}

@media (max-width: 414px) {
    body {
        background-color: #454545;
    }
    h1 {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-align: center;
    }
}