* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: .9;
    font-family: sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    text-align: center;
}

hr {
    width: 200%;
    border: 1.5px solid black;
}

img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: calc(150px + 30vmin);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.dark-btn {
    padding: .6rem .8rem;
    background-color: #000;
    border: none;
    border-radius: 5rem;
    color: #fff;
    width: max-content;
    text-decoration: none;
}
.light-btn {
    padding: .6rem .8rem;
    background-color: #0c4adc;
    border: none;
    border-radius: 5rem;
    color: #fff;
    width: max-content;
    text-decoration: none;
}
.nav-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;

    & > * {
        width: 9rem;
    }
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 2rem;
}
